@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-s;
}
html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
}
/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}
/* sets the base font size for the document; turns on kerning pairs and ligatures */

body,
ul,
ol,
dl {
  margin: 0;
}
article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* ensures that older browsers will display HTML5 elements correctly */

h1 {
  font-size: 1.4rem;
}
/* begins to set up font sizes relative to base rem – h1 has been used as an example */

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* sets hyphenation by default on paragraphs */

textarea {
  resize: vertical;
}
/* changes textarea resizing from "both" (UA default) to vertical only */

table {
  border-collapse: collapse;
}
td {
  padding: 0.5rem;
}
/* causes tables to actually look like tables */

img {
  border: none;
  max-width: 100%;
}
/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0px;
}
/* removes the inner border effect from focused buttons for form elements in Firefox */

input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="submit"] {
  -webkit-appearance: none;
}
/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */

input:required:after {
  color: #f00;
  content: " *";
}
/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid {
  background: #f00;
}
/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */

.right {
  float: right;
  margin-left: 2rem;
  clear: right;
}
.left {
  float: left;
  margin-right: 2rem;
  clear: left;
}
/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */

sub,
sup {
  line-height: 0;
}

/* removes the default line height from sub and sup elements */

/* Path: src\app.css */

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  margin: 10px auto;
}

.searchbox {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}

.searchbox svg {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  fill: #a6d5f2;
}

.searchbox input {
  width: 100%;
  height: 66px;
  padding: 1rem 1rem 1rem 3rem;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: #283f4d;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

button {
  height: 66px;
  width: 200px;
  border: none;
  outline: none;
  background: #a6d5f2;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}

button:hover {
  background: #283f4d;
}

button:active {
  transform: translateY(2px);
}

.searchbox input:focus {
  outline: 2px solid #a6d5f2;
}

.searchbox input:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.searchbox input::placeholder {
  color: #a6d5f2;
}

.weather_card {
  background: linear-gradient(105.43deg, #00dafe 0%, #00a9cc 100%);
  border-radius: 6px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.location_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date_time {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.9;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.location svg {
  height: 18px;
  width: 18px;
  fill: #006173;
  margin-right: 2px;
}

.location span {
  color: #000000ba;
  font-size: 18px;
  font-weight: 500;
}

.temp {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  width: auto;
  line-height: 1;
  padding-left: 20px;
}

.temp span {
  font-size: 20px;
  font-weight: 400;
}

.current_situation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0.9;
}

.weather_range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.range {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 200px;
}

.min {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.min svg {
  height: 18px;
  width: 18px;
  fill: #fff;
  margin-right: 2px;
  fill: #006173;
}

.min span {
  padding: 0 2px;
}

.max {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.max svg {
  height: 18px;
  width: 18px;
  fill: #fff;
  margin-right: 2px;
  fill: #006173;
}

.max span {
  padding: 0 2px;
}

.weather_details {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-around;
  fill: #006173;
}

.weather_details div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.weather_details div svg {
  color: #006173;
}

@media (max-width: 768px) {
  .container {
    margin: 16px auto;
  }
  .searchbox input {
    height: 50px;
    padding: 1rem 1rem 1rem 3rem;
  }

  .searchbox svg {
    height: 18px;
    width: 18px;
  }

  .searchbox {
    height: 50px;
  }

  button {
    height: 50px;
    width: 150px;
    font-size: 14px;
  }

  .weather_card {
    padding: 20px;
  }

  .date_time {
    font-size: 10px;
  }

  .location {
    margin-top: 2px;
  }

  .location svg {
    height: 14px;
    width: 14px;
  }

  .location span {
    font-size: 14px;
  }

  .temp {
    margin-top: 20px;
    font-size: 80px;
  }

  .temp span {
    font-size: 16px;
  }

  .current_situation {
    font-size: 14px;
  }

  .weather_range {
    margin-top: 10px;
  }

  .range {
    max-width: 150px;
  }

  .min {
    font-size: 12px;
  }

  .min svg {
    height: 14px;
    width: 14px;
  }

  .max {
    font-size: 12px;
  }

  .max svg {
    height: 14px;
    width: 14px;
  }

  .weather_details {
    margin-top: 20px;
  }

  .weather_details div {
    font-size: 14px;
  }

  .weather_details div svg {
    height: 18px;
    width: 18px;
  }

  .weather_details div span {
    font-size: 12px;
  }

  .weather_details div span svg {
    height: 14px;
    width: 14px;
  }

  .weather_details div span svg {
    height: 14px;
    width: 14px;
  }
}
